.contact {
  width: 100%;
  margin: 0rem 0;
  width: 100%;
  background: var(--color-primary-3);
}

.contact .contact__title {
  padding: 3rem 2rem;
  font-weight: 600;
}

.contact .contact__title h1 {
  font-size: 3rem;
  color: var(--color-white);
}
.contact .contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.contact .contact__form h6 {
  font-size: 1.8rem;
  color: var(--color-white);
}

.contact .contact__form .form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem 0;
}

.contact .contact__form .form .form__input {
  width: 80%;
  font-family: inherit;
  padding: 1rem 1rem;
  border-radius: 0.7rem;
  outline: none;
  border: none;
  font-weight: 600;
  margin: 0 1rem;
  font-size: 1.4rem;
  margin-right: auto;
}

.contact .contact__form .form .btn-submit {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  box-shadow: none;
  background: var(--color-white);
}

@media screen and (min-width: 768px) {
  .contact .contact__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact .contact__form .form {
    width: 70%;
    text-align: end;
    margin-top: 0;
    margin-right: auto;
  }
  .contact .contact__form .form .form__input {
    width: 30rem;
  }
}
