:root {
  /* colors --->>  */
  --colors-bg-main: #ffffff;

  /* colors --->> */
  /* sizes --->>  */
  --size-root: 62.5%;

  /* sizes --->>  */
  /* fonts --->> */
  --font-main-family: Vazirmatn, sans-serif;
  /* fonts --->> */
}
